<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Đơn hàng" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
  <div class="col-lg-12">
    <div class="card" id="orderList">
      <div class="card-header  border-0">
        <div class="row align-items-center gy-3">
          <div class="col-sm">
            <h5 class="card-title mb-0">Lịch sử đơn hàng</h5>
          </div>
          <div class="col-sm-auto hstack gap-2">
            <button class="btn btn-soft-danger" id="remove-actions" style="display: none"
              (click)="deleteMultiple(deleteModel)"><i class="ri-delete-bin-2-line"></i></button>
          </div>
        </div>
      </div>
      <div class="card-body border border-dashed border-end-0 border-start-0">

        <div class="row g-3">
          <div class="col-xxl-5 col-sm-12">
            <div class="search-box">
              <input type="text" name="searchTerm" class="form-control"
                placeholder="Tìm kiếm theo ID, Tên, Số điện thoại,..." [(ngModel)]="searchTerm"
                (ngModelChange)="performSearch()">
              <i class="ri-search-line search-icon"></i>
            </div>
          </div>
          <!--end col-->
          <div class="col-xxl-2 col-sm-4">
            <div>
              <input class="form-control flatpickr-input" type="text" mwlFlatpickr [altInput]="true" [locale]="'vn'"
                [convertModelValue]="true" placeholder="Ngày nhận" id="isDate" [(ngModel)]="date"
                (ngModelChange)="filterDate()">
            </div>
          </div>
          <!--end col-->
          <div class="col-xxl-2 col-sm-4">
            <div>
              <select class="form-control" data-choices data-choices-search-false name="choices-single-default"
                id="idStatus" [(ngModel)]="status" (ngModelChange)="filterStatus()">
                <option value="" selected>Trạng thái</option>
                @for (item of orderStatus; track $index) {
                <option value="{{item.ma}}">{{item.ma}} - {{item.ten}}</option>
                }
              </select>
            </div>
          </div>
          <!--end col-->
          <div class="col-xxl-1 col-sm-4">
            <div>
              <button type="button" class="btn btn-primary w-100" (click)="SearchData();"> <i
                  class="ri-equalizer-fill mx-1 align-bottom"></i>
                Lọc
              </button>
            </div>
          </div>
          <!--end col-->
        </div>
        <!--end row-->

      </div>
      <div class="card-body pt-0">
        <div>
          <!-- Nav tabs -->
          <ul ngbNav #nav="ngbNav" [activeId]="1" (navChange)="onNavChange($event)"
            class="nav nav-tabs nav-tabs-custom nav-success mb-3">
            <li [ngbNavItem]="1">
              <a ngbNavLink>
                <i class="ri-store-2-fill me-1 align-bottom"></i> Tất cả
              </a>
              <ng-template ngbNavContent>
                <div class="table-responsive table-card mb-0">
                  <table class="table">
                    <thead>
                      <tr class="bg-light text-muted text-uppercase">
                        <th scope="col" style="width: 25px;">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="checkAll" value="option"
                              [(ngModel)]="masterSelected" (change)="checkUncheckAll($event)">
                          </div>
                        </th>
                        <th class="text-center">STT</th>
                        <th class="sort" (click)="onSort('id')">ID/Sản phẩm</th>
                        <th class="sort" (click)="onSort('sdt')">Thông tin</th>
                        <th class="sort" (click)="onSort('tong_tien')">Tiền</th>
                        <th class="sort" (click)="onSort('tong_diem')">Điểm</th>
                        <th class="sort" (click)="onSort('ngay_nhan')">Ngày nhận</th>
                        <th class="sort" (click)="onSort('ngay_nhap')">Ngày nhập</th>
                        <th class="sort" (click)="onSort('trang_thai')">Trạng thái</th>
                        <th class="text-center">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      @for (data of orderes; track $index) {
                      <tr id="o_{{data.id}}">
                        <th scope="row">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="checkAll" value="{{data.id}}"
                              [(ngModel)]="data.state" (change)="onCheckboxChange($event)">
                          </div>
                        </th>
                        <td class="text-center">{{$index+1}}</td>
                        <td>
                          <ngb-highlight [result]="data.ten_sp" [term]="searchTerm"></ngb-highlight>
                          <p class="mb-0">
                            <span>ID:&nbsp;</span>
                            <a routerLink="/ecommerce/order-detail/{{data.id}}">
                              <ngb-highlight [result]="data.id" [term]="searchTerm"></ngb-highlight>
                            </a>
                          </p>
                        </td>
                        <td>
                          <small class="d-block text-[12px]">
                            SĐT: <ngb-highlight [result]="data.sdt" [term]="searchTerm"></ngb-highlight>
                          </small>
                          <small class="d-block text-[12px]">
                            Tuổi: <ngb-highlight [result]="data.tuoi" [term]="searchTerm"></ngb-highlight>
                          </small>
                          <small class="d-block text-[12px]">
                            Đ/c: <ngb-highlight [result]="data.dchi" [term]="searchTerm"></ngb-highlight>
                          </small>
                        </td>
                        <td>
                          <ngb-highlight [result]="data.tong_tien | currency:'VND':'symbol'"
                            [term]="searchTerm"></ngb-highlight>
                        </td>
                        <td>
                          <ngb-highlight [result]="data.tong_diem | currency:'VND':'symbol'"
                            [term]="searchTerm"></ngb-highlight>
                        </td>
                        <td>
                          <ngb-highlight [result]="data.ngay_nhan" [term]="searchTerm"></ngb-highlight>
                        </td>
                        <td>
                          <ngb-highlight [result]="data.ngay_nhap" [term]="searchTerm"></ngb-highlight>
                        </td>
                        <td class="status">
                          <span class="badge "
                            [ngClass]=" { 'bg-danger-subtle text-danger': data.trang_thai === 'HUY', 'bg-info-subtle text-info': data.trang_thai === 'DD', 'bg-secondary-subtle text-secondary': data.trang_thai === 'XN', 'bg-primary-subtle text-primary': data.trang_thai === 'DS', 'bg-success-subtle text-success': data.trang_thai === 'HT' }">
                            {{ultils.f_ViewTextCode(orderStatus,data.trang_thai)}}
                          </span>
                        </td>
                        <td class="text-center">
                          <ul class="list-inline justify-content-center hstack gap-2 mb-0">
                            <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover"
                              ngbTooltip="Xem" placement="top">
                              <a href="javascript:void(0);" routerLink="/ecommerce/order-detail/{{data.id}}"
                                class="text-warning d-inline-block">
                                <i class="ri-eye-fill fs-16"></i>
                              </a>
                            </li>
                            <li class="list-inline-item edit" data-bs-toggle="tooltip" data-bs-trigger="hover"
                              ngbTooltip="Sửa" placement="top">
                              <a href="javascript:void(0);" data-bs-toggle="modal"
                                class="text-primary d-inline-block edit-item-btn" data-bs-toggle="modal" id="create-btn"
                                data-bs-target="#showModal" (click)="editDataGet(data,content)">
                                <i class="ri-pencil-fill fs-16"></i>
                              </a>
                            </li>
                          </ul>
                        </td>
                      </tr>
                      }
                    </tbody>
                  </table>
                </div>
                <div class="row justify-content-md-between align-items-md-center gy-2">
                  <div class="col col-sm-6">
                    <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                      Hiển thi
                      {{paginationService.startIndex}} đến
                      {{paginationService.endIndex}} của {{paginationService.collectionSize}}
                      bản ghi.
                    </div>
                  </div>
                  <!-- Pagination -->
                  <div class="col col-sm-6">
                    <div class="text-sm-right float-end listjs-pagination">
                      <ngb-pagination [collectionSize]="paginationService.collectionSize"
                        [(page)]="paginationService.page" [pageSize]="paginationService.pageSize"
                        (pageChange)="changePage()">
                      </ngb-pagination>
                    </div>
                  </div>
                  <!-- End Pagination -->
                </div>
              </ng-template>
            </li>
            @for (status of orderStatus; track $index) {
            <li [ngbNavItem]="$index + 2">
              <a ngbNavLink>
                <i class="{{status.icon}} me-1 align-bottom"></i> {{status.ten}}
              </a>
              <ng-template ngbNavContent>
                <div class="table-responsive table-card mb-0">
                  <table class="table">
                    <thead>
                      <tr class="bg-light text-muted text-uppercase">
                        <th scope="col" style="width: 25px;">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="checkAll" value="option"
                              [(ngModel)]="masterSelected" (change)="checkUncheckAll($event)">
                          </div>
                        </th>
                        <th class="text-center">STT</th>
                        <th class="sort" (click)="onSort('id')">ID/Sản phẩm</th>
                        <th class="sort" (click)="onSort('sdt')">Thông tin</th>
                        <th class="sort" (click)="onSort('tong_tien')">Tiền</th>
                        <th class="sort" (click)="onSort('tong_diem')">Điểm</th>
                        <th class="sort" (click)="onSort('ngay_nhan')">Ngày nhận</th>
                        <th class="sort" (click)="onSort('ngay_nhap')">Ngày nhập</th>
                        <th class="sort" (click)="onSort('trang_thai')">Trạng thái</th>
                        <th class="text-center">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      @for (data of orderes; track $index) {
                      <tr id="o_{{data.id}}">
                        <th scope="row">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="checkAll" value="{{data.id}}"
                              [(ngModel)]="data.state" (change)="onCheckboxChange($event)">
                          </div>
                        </th>
                        <td class="text-center">{{$index+1}}</td>
                        <td>
                          <ngb-highlight [result]="data.ten_sp" [term]="searchTerm"></ngb-highlight>
                          <p class="mb-0">
                            <span>ID:&nbsp;</span>
                            <a routerLink="/ecommerce/order-detail/{{data.id}}">
                              <ngb-highlight [result]="data.id" [term]="searchTerm"></ngb-highlight>
                            </a>
                          </p>
                        </td>
                        <td>
                          <small class="d-block text-[12px]">
                            SĐT: <ngb-highlight [result]="data.sdt" [term]="searchTerm"></ngb-highlight>
                          </small>
                          <small class="d-block text-[12px]">
                            Tuổi: <ngb-highlight [result]="data.tuoi" [term]="searchTerm"></ngb-highlight>
                          </small>
                          <small class="d-block text-[12px]">
                            Đ/c: <ngb-highlight [result]="data.dchi" [term]="searchTerm"></ngb-highlight>
                          </small>
                        </td>
                        <td>
                          <ngb-highlight [result]="data.tong_tien | currency:'VND':'symbol'"
                            [term]="searchTerm"></ngb-highlight>
                        </td>
                        <td>
                          <ngb-highlight [result]="data.tong_diem | currency:'VND':'symbol'"
                            [term]="searchTerm"></ngb-highlight>
                        </td>
                        <td>
                          <ngb-highlight [result]="data.ngay_nhan" [term]="searchTerm"></ngb-highlight>
                        </td>
                        <td>
                          <ngb-highlight [result]="data.ngay_nhap" [term]="searchTerm"></ngb-highlight>
                        </td>
                        <td class="status">
                          <span class="badge "
                            [ngClass]=" { 'bg-danger-subtle text-danger': data.trang_thai === 'HUY', 'bg-info-subtle text-info': data.trang_thai === 'DD', 'bg-secondary-subtle text-secondary': data.trang_thai === 'XN', 'bg-primary-subtle text-primary': data.trang_thai === 'DS', 'bg-success-subtle text-success': data.trang_thai === 'HT' }">
                            {{ultils.f_ViewTextCode(orderStatus,data.trang_thai)}}
                          </span>
                        </td>
                        <td class="text-center">
                          <ul class="list-inline justify-content-center hstack gap-2 mb-0">
                            <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover"
                              ngbTooltip="Xem" placement="top">
                              <a href="javascript:void(0);" routerLink="/ecommerce/order-detail/{{data.id}}"
                                class="text-warning d-inline-block">
                                <i class="ri-eye-fill fs-16"></i>
                              </a>
                            </li>
                            <li class="list-inline-item edit" data-bs-toggle="tooltip" data-bs-trigger="hover"
                              ngbTooltip="Sửa" placement="top">
                              <a href="javascript:void(0);" data-bs-toggle="modal"
                                class="text-primary d-inline-block edit-item-btn" data-bs-toggle="modal" id="create-btn"
                                data-bs-target="#showModal" (click)="editDataGet(data,content)">
                                <i class="ri-pencil-fill fs-16"></i>
                              </a>
                            </li>
                          </ul>
                        </td>
                      </tr>
                      }
                    </tbody>
                  </table>
                </div>
                <div class="row justify-content-md-between align-items-md-center gy-2">
                  <div class="col col-sm-6">
                    <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                      Hiển thi
                      {{paginationService.startIndex}} đến
                      {{paginationService.endIndex}} của {{paginationService.collectionSize}}
                      bản ghi.
                    </div>
                  </div>
                  <!-- Pagination -->
                  <div class="col col-sm-6">
                    <div class="text-sm-right float-end listjs-pagination">
                      <ngb-pagination [collectionSize]="paginationService.collectionSize"
                        [(page)]="paginationService.page" [pageSize]="paginationService.pageSize"
                        (pageChange)="changePage()">
                      </ngb-pagination>
                    </div>
                  </div>
                  <!-- End Pagination -->
                </div>
              </ng-template>
            </li>
            }
          </ul>

          <!-- Tab panes -->
          <div class="tab-content text-muted">
            <div [ngbNavOutlet]="nav"></div>
          </div>

          <!-- Order Create Model -->
          <ng-template #content role="document" let-modal>
            <div class="modal-header bg-light p-3">
              <h5 class="modal-title" id="exampleModalLabel">Cập nhập</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"
                (click)="modal.dismiss('Cross click')"></button>
            </div>
            <form (ngSubmit)="saveUser()" [formGroup]="ordersForm" class="tablelist-form" autocomplete="off">
              <div class="modal-body">
                <input type="hidden" name="id" value="" formControlName="id" />
                <div>
                  <label for="delivered-status" class="form-label">Trạng thái</label>
                  <select class="form-control" data-trigger name="delivered-status" id="delivered-status" required
                    formControlName="trang_thai" [ngClass]="{ 'is-invalid': submitted && form['trang_thai'].errors }">
                    @for (item of orderStatus; track $index) {
                    <option value="{{item.ma}}">{{item.ma}} - {{item.ten}}</option>
                    }
                  </select>
                  @if(submitted && form['trang_thai'].errors){
                  <div class="invalid-feedback" align="left">
                    @if(form['trang_thai'].errors['required']){
                    <div>Thông tin bắt buộc</div>
                    }
                  </div>
                  }
                </div>
              </div>
              <div class="modal-footer">
                <div class="hstack gap-2 justify-content-end">
                  <button type="button" class="btn btn-light" data-bs-dismiss="modal"
                    (click)="modal.close('Close click')">Đóng</button>
                  <button type="submit" class="btn btn-success" id="add-btn">Cập nhật</button>
                </div>
              </div>
            </form>
          </ng-template>
          <!--End Modal -->
          <div id="elmLoader">
            <div class="spinner-border text-primary avatar-sm" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!--end col-->
  </div>
  <!--end row-->

  <!-- removeItemModal -->
  <ng-template #deleteModel let-modal>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btn-close"
          (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <div class="mt-2 text-center">
          <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop"
            colors="primary:#405189,secondary:#f06548" style="width:90px;height:90px"></lord-icon>
          <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
            <h4>Bạn có muốn xoá bản ghi này ?</h4>
            <p class="text-muted mx-4 mb-0">
              Bản ghi bị xoá sẽ không thể khôi phục lại.
            </p>
          </div>
        </div>
        <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
          <button class="btn btn-link link-success fw-medium text-decoration-none" data-bs-dismiss="modal"
            id="deleteRecord-close" (click)="modal.close('Close click')"><i class="ri-close-line me-1 align-middle"></i>
            Huỷ</button>
          <button type="button" class="btn w-sm btn-danger " id="delete-product" (click)="deleteData(deleteId)"
            (click)="modal.close('Close click')">Đồng ý</button>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </ng-template>

</div>