<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Thêm mới sản phẩm mới" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->
<form [formGroup]="sForm">

    <div class="row">
        <div class="col-lg-9">
            <div class="card">
                <div class="card-body">
                    <div class="mb-3">
                        <label class="form-label" for="product-title-input">Tiêu đề</label>
                        <input required type="text" class="form-control" id="ten" formControlName="ten"
                            placeholder="Tên sản phẩm" [ngClass]="{ 'is-invalid': submitted && form['ten'].errors }" />
                        @if(submitted && form['ten'].errors){
                        <div class="invalid-feedback" align="left">
                            @if(form['ten'].errors['']){
                            <div>Thông tin bắt buộc nhập.</div>
                            }
                        </div>
                        }
                    </div>
                    <div>
                        <label>Mô tả sản phẩm</label>
                        <textarea required type="text" class="form-control" id="mo_ta" formControlName="mo_ta" rows="3"
                            [ngClass]="{ 'is-invalid': submitted && form['mo_ta'].errors }"></textarea>
                        @if(submitted && form['mo_ta'].errors){
                        <div class="invalid-feedback" align="left">
                            @if(form['mo_ta'].errors['']){
                            <div>Thông tin bắt buộc nhập.</div>
                            }
                        </div>
                        }
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Giá theo Size bánh</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">

                        <table class="invoice-table table table-borderless table-nowrap mb-0" formArrayName="listSize">
                            <thead class="align-middle">
                                <tr class="table-active text-center">
                                    <th scope="col" style="width: 50px;">#</th>
                                    <th scope="col" style="width: 20%;">Mã</th>
                                    <th scope="col" style="width: 60%;">Tên</th>
                                    <th scope="col" style="width: 20%;">Đơn giá</th>
                                    <th scope="col" style="width: 50px;"></th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let item of getSizeControls(); index as i">
                                <tr [formGroupName]="i">
                                    <th scope="row">{{i + 1}}</th>
                                    <td class="text-start">
                                        <input type="text" class="form-control bg-light border-0" id="" placeholder=""
                                            formControlName="ma" />
                                    </td>
                                    <td class="text-start">
                                        <input type="text" class="form-control bg-light border-0" id="" placeholder=""
                                            formControlName="ten" />
                                    </td>
                                    <td class="text-start">
                                        <input type="text" class="form-control bg-light border-0 text-end" id=""
                                            placeholder="0" formControlName="don_gia" appCurrencyMask />
                                    </td>
                                    <td>
                                        <a href="javascript:void(0)" class="btn btn-success"
                                            (click)="removeSizeItem(i)">Xoá</a>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td colspan="5">
                                        <a href="javascript:void(0);" class="btn btn-soft-secondary fw-medium"
                                            id="add-item" (click)="addSizeItem()"><i
                                                class="ri-add-fill me-1 align-bottom"></i>Thêm mới</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Giá theo Nhân bánh</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">

                        <table class="invoice-table table table-borderless table-nowrap mb-0" formArrayName="listNhan">
                            <thead class="align-middle">
                                <tr class="table-active text-center">
                                    <th scope="col" style="width: 50px;">#</th>
                                    <th scope="col" style="width: 60%;">Tên</th>
                                    <th scope="col" style="width: 20%;">Size</th>
                                    <th scope="col" style="width: 20%;">Đơn giá</th>
                                    <th scope="col" style="width: 50px;"></th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let item of getNhanControls(); index as i">
                                <tr [formGroupName]="i">
                                    <th scope="row">{{i + 1}}</th>
                                    <td class="text-start">
                                        <input type="text" class="form-control bg-light border-0" id="" placeholder=""
                                            formControlName="ten" />
                                    </td>
                                    <td class="text-start">
                                        <input type="text" class="form-control bg-light border-0" id="" placeholder=""
                                            formControlName="size" />
                                    </td>
                                    <td class="text-start">
                                        <input type="text" class="form-control bg-light border-0 text-end" id=""
                                            placeholder="0" formControlName="don_gia" appCurrencyMask />
                                    </td>
                                    <td>
                                        <a href="javascript:void(0)" class="btn btn-success"
                                            (click)="removeNhanItem(i)">Xoá</a>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td colspan="5">
                                        <a href="javascript:void(0);" class="btn btn-soft-secondary fw-medium"
                                            id="add-item" (click)="addNhanItem()"><i
                                                class="ri-add-fill me-1 align-bottom"></i>Thêm mới</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Giá theo Tầng bánh</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">

                        <table class="invoice-table table table-borderless table-nowrap mb-0" formArrayName="listTang">
                            <thead class="align-middle">
                                <tr class="table-active text-center">
                                    <th scope="col" style="width: 50px;">#</th>
                                    <th scope="col" style="width: 60%;">Tên</th>
                                    <th scope="col" style="width: 20%;">Size</th>
                                    <th scope="col" style="width: 20%;">Đơn giá</th>
                                    <th scope="col" style="width: 50px;"></th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let item of getTangControls(); index as i">
                                <tr [formGroupName]="i">
                                    <th scope="row">{{i + 1}}</th>
                                    <td class="text-start">
                                        <input type="text" class="form-control bg-light border-0" id="" placeholder=""
                                            formControlName="ten" />
                                    </td>
                                    <td class="text-start">
                                        <input type="text" class="form-control bg-light border-0" id="" placeholder=""
                                            formControlName="size" />
                                    </td>
                                    <td class="text-start">
                                        <input type="text" class="form-control bg-light border-0 text-end" id=""
                                            placeholder="0" formControlName="don_gia" appCurrencyMask />
                                    </td>
                                    <td>
                                        <a href="javascript:void(0)" class="btn btn-success"
                                            (click)="removeTangItem(i)">Xoá</a>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td colspan="5">
                                        <a href="javascript:void(0);" class="btn btn-soft-secondary fw-medium"
                                            id="add-item" (click)="addTangItem()"><i
                                                class="ri-add-fill me-1 align-bottom"></i>Thêm mới</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
        <!-- end col -->

        <div class="col-lg-3">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">
                        <span>Đăng sản phẩm </span>
                    </h5>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label for="choices-publish-visibility-input" class="form-label">Hiển thị</label>
                        <select class="form-select" formControlName="available">
                            <option value="true" selected>Hiện</option>
                            <option value="false">Ẩn</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="choices-publish-visibility-input" class="form-label">Quy đổi điểm</label>
                        <select class="form-select" formControlName="bonus" (ngModelChange)="changeBonus($event)">
                            <option value="true">Có</option>
                            <option value="false" selected>Không</option>
                        </select>
                    </div>
                    <div class="text-end">
                        <button type="submit" (click)="onSubmit()" class="btn btn-success w-sm">Đăng</button>
                    </div>
                </div>
                <!-- end card body -->
            </div>
            <!-- end card -->


            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0" *ngIf="isBonus">Điểm thưởng</h5>
                    <h5 class="card-title mb-0" *ngIf="!isBonus">Giá bán</h5>
                </div>
                <div class="card-body">
                    <input type="text" class="form-control" id="don_gia" formControlName="don_gia" appCurrencyMask
                        placeholder="0" [ngClass]="{ 'is-invalid': submitted && form['don_gia'].errors }" />
                    @if(submitted && form['don_gia'].errors){
                    <div class="invalid-feedback" align="left">
                        @if(form['don_gia'].errors['']){
                        <div>Thông tin bắt buộc nhập.</div>
                        }
                    </div>
                    }
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Danh mục sản phẩm</h5>
                </div>
                <div class="card-body">
                    <p class="text-muted mb-2"> <a href="javascript:void(0);"
                            class="float-end text-decoration-underline">Thêm mới</a>Chọn danh mục</p>
                    <select class="form-select" id="category" formControlName="category"
                        [ngClass]="{ 'is-invalid': submitted && form['category'].errors }"
                        (change)="changeCategory($event)">
                        <option value="" selected>Chọn danh mục</option>
                        <option *ngFor="let item of productCategoryMenu" [value]="item.ma"
                            [attr.data-parent]="item.parent">
                            {{ !item.parent ? item.ten : '---' + item.ten }}
                        </option>
                    </select>
                </div>
            </div>


            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Ảnh sản phẩm</h5>
                </div>
                <div class="card-body">
                    <div class="mb-4">
                        <p class="text-muted">Thiết lập ảnh sản phẩm.</p>
                        <div class="mb-3">
                            <div class="position-relative d-inline-block">
                                <div class="position-absolute top-100 start-100 translate-middle">
                                    <div class="d-flex gap-1">
                                        <label for="file" class="mb-0" ngbTooltip="Chọn ảnh">
                                            <div class="avatar-xs">
                                                <div
                                                    class="avatar-title bg-light border rounded-circle text-muted cursor-pointer">
                                                    <i class="ri-image-fill"></i>
                                                </div>
                                            </div>

                                        </label>
                                        <button id="remove-file" (click)="fileRemove()" ngbTooltip="Xoá ảnh"
                                            style="display: none;"
                                            class="avatar-xs btn btn-sm btn-soft-danger rounded-circle mb-1"><i
                                                class="ri-delete-bin-2-line"></i></button>
                                    </div>
                                    <input id="file" type="file" class="form-control d-none" value=""
                                        accept="image/png, image/gif, image/jpeg" (change)="fileChange($event)">
                                </div>
                                <div class="avatar-lg">
                                    <div class="avatar-title bg-light rounded">
                                        <img id="file-img" src="assets/images/baonguyen/placeholder.png"
                                            class="avatar-md h-auto" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="height: 1px;">&nbsp;</div>
                    </div>
                    <div>
                        <!-- <h5 class="fs-14 mb-1">Ảnh thư viện</h5>
                <p class="text-muted">Chọn danh sách ảnh.</p>
                <dropzone class="dropzone_sec"></dropzone> -->
                        <!-- end dropzon-preview -->
                    </div>
                </div>
            </div>
            <!-- end card -->


        </div>
    </div>

</form>

<!-- end row -->