<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Thêm mới sản phẩm mới" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
    <div class="col-lg-9">
        <form>
            <div class="card">
                <div class="card-body">
                    <div class="mb-3">
                        <label class="form-label" for="product-title-input">Tiêu đề</label>
                        <input type="text" class="form-control" id="product-title-input"
                            placeholder="Tên sản phẩm">
                    </div>
                    <div>
                        <label>Mô tả sản phẩm</label>
                        <ckeditor [editor]="Editor" data="
                            <b>Test nội dung</b>
                        ">
                        </ckeditor>
                    </div>
                </div>
            </div>
            <!-- end card -->

            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Mô tả ngắn của sản phẩm</h5>
                </div>
                <div class="card-body">
                    <p class="text-muted mb-2">Thêm mô tả ngắn cho sản phẩm</p>
                    <textarea class="form-control" placeholder="Nhập tối thiểu 100 ký tự" rows="3"></textarea>
                </div>
                <!-- end card body -->
            </div>
            <!-- end card -->



            <div class="card">
                <div class="card-header">
                    <ul ngbNav #customNav="ngbNav" [activeId]="1"
                        class="nav nav-tabs-custom card-header-tabs border-bottom-0" role="tablist">
                        <li [ngbNavItem]="1" class="nav-item">
                            <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">
                                Dữ liệu sản phẩm
                            </a>
                            <ng-template ngbNavContent>
                                <div class="tab-pane active" id="addproduct-general-info" role="tabpanel">
                                    <div class="mb-3">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="product-price-input">Giá bán thường
                                                        (đ)</label>
                                                    <div class="input-group mb-3">
                                                        <span class="input-group-text" id="product-price-addon">$</span>
                                                        <input type="text" class="form-control" id="product-price-input"
                                                            placeholder="0.0" aria-label="Price"
                                                            aria-describedby="product-price-addon">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="product-discount-input">Giá khuyến
                                                        mãi (đ)</label>
                                                    <div class="input-group mb-3">
                                                        <span class="input-group-text"
                                                            id="product-discount-addon">%</span>
                                                        <input type="text" class="form-control"
                                                            id="product-discount-input" placeholder="0.0"
                                                            aria-label="discount"
                                                            aria-describedby="product-discount-addon">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="manufacturer-name-input">Thương
                                                    hiệu</label>
                                                <input type="text" class="form-control" id="manufacturer-name-input"
                                                    placeholder="">
                                            </div>
                                        </div>
                                        <!-- end col -->
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="manufacturer-brand-input">Nhà sản
                                                    xuất</label>
                                                <input type="text" class="form-control" id="manufacturer-brand-input"
                                                    placeholder="">
                                            </div>
                                        </div>
                                        <!-- end col -->

                                    </div>
                                    <!-- end row -->
                                </div>
                            </ng-template>
                        </li>
                        <li [ngbNavItem]="2" class="nav-item">
                            <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">
                                Meta Data
                            </a>
                            <ng-template ngbNavContent>
                                <div class="tab-pane" id="addproduct-metadata" role="tabpanel">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="meta-title-input">Meta title</label>
                                                <input type="text" class="form-control" placeholder="Enter meta title"
                                                    id="meta-title-input">
                                            </div>
                                        </div>
                                        <!-- end col -->

                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="meta-keywords-input">Meta
                                                    Keywords</label>
                                                <input type="text" class="form-control"
                                                    placeholder="Enter meta keywords" id="meta-keywords-input">
                                            </div>
                                        </div>
                                        <!-- end col -->
                                    </div>
                                    <!-- end row -->

                                    <div>
                                        <label class="form-label" for="meta-description-input">Meta Description</label>
                                        <textarea class="form-control" id="meta-description-input"
                                            placeholder="Enter meta description" rows="3"></textarea>
                                    </div>
                                </div>
                            </ng-template>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content pt-4">
                        <div [ngbNavOutlet]="customNav"></div>
                    </div>
                </div>
                <!-- end card header -->
            </div>
            <!-- end card -->
            
        </form>


    </div>
    <!-- end col -->

    <div class="col-lg-3">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">
                    <span>Đăng sản phẩm </span>
                </h5>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label for="choices-publish-visibility-input" class="form-label">Hiển thị</label>
                    <select class="form-select" id="choices-publish-visibility-input" data-choices
                        data-choices-search-false>
                        <option value="Public" selected>Hiện</option>
                        <option value="Hidden">Ẩn</option>
                    </select>
                </div>
                <div class="text-end">
                    <button type="submit" class="btn btn-success w-sm">Đăng</button>
                </div>
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->


        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">Danh mục sản phẩm</h5>
            </div>
            <div class="card-body">
                <p class="text-muted mb-2"> <a href="javascript:void(0);"
                        class="float-end text-decoration-underline">Thêm mới</a>Chọn danh mục</p>
                <select class="form-select" name="choices-category-input" data-choices data-choices-search-false>
                    <option value="All">Tất cả</option>
                    <option value="Appliances">Bánh ngọt</option>
                    <option value="Fashion" selected>Bánh mặn</option>
                </select>
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->

        <!-- <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">Thẻ sản phẩm</h5>
            </div>
            <div class="card-body">
                <div class="hstack gap-3 align-items-start">
                    <div class="flex-grow-1">
                        <ng-select [items]="selectValue" [multiple]="true"></ng-select>
                    </div>
                </div>
            </div>
        </div> -->


        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">Thư viện ảnh sản phẩm</h5>
            </div>
            <div class="card-body">
                <div class="mb-4">
                    <h5 class="fs-14 mb-1">Ảnh sản phẩm</h5>
                    <p class="text-muted">Thiết lập ảnh sản phẩm.</p>
                    <div class="text-center">
                        <div class="position-relative d-inline-block">
                            <div class="position-absolute top-100 start-100 translate-middle">
                                <label for="product-image-input" class="mb-0" placement="right"
                                    ngbTooltip="Chọn ảnh">
                                    <div class="avatar-xs">
                                        <div
                                            class="avatar-title bg-light border rounded-circle text-muted cursor-pointer">
                                            <i class="ri-image-fill"></i>
                                        </div>
                                    </div>
                                </label>
                                <input class="form-control d-none" value="" id="product-image-input" type="file"
                                    accept="image/png, image/gif, image/jpeg" (change)="fileChange($event)">
                            </div>
                            <div class="avatar-lg">
                                <div class="avatar-title bg-light rounded">
                                    <img src="" id="product-img" class="avatar-md h-auto" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <!-- <h5 class="fs-14 mb-1">Ảnh thư viện</h5>
                <p class="text-muted">Chọn danh sách ảnh.</p>
                <dropzone class="dropzone_sec"></dropzone> -->
                    <!-- end dropzon-preview -->
                </div>
            </div>
        </div>
        <!-- end card -->


    </div>
</div>
<!-- end row -->