<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Cộng điểm" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row g-3">
    <div class="col-lg-4">
        <form (ngSubmit)="saveForm()" [formGroup]="sForm">
            <div class="row mb-3">
                <div class="col-lg-4">
                    <label for="sdt" class="form-label">Số điện thoại</label>
                </div>
                <div class="col-lg-8">
                    <input required type="tel" class="form-control" id="sdt" formControlName="sdt" placeholder=""
                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                        [ngClass]="{ 'is-invalid': submitted && form['sdt'].errors }" />
                    @if(submitted && form['sdt'].errors){
                    <div class="invalid-feedback" align="left">
                        @if(form['sdt'].errors['required']){
                        <div>Nhập số điện thoại.</div>
                        }
                    </div>
                    }
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-lg-4">
                    <label for="thanh_tien" class="form-label">Số tiền</label>
                </div>
                <div class="col-lg-8">
                    <input required type="text" class="form-control" id="thanh_tien" formControlName="thanh_tien"
                        placeholder="0"
                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                        [ngClass]="{ 'is-invalid': submitted && form['thanh_tien'].errors }">

                    @if(submitted && form['thanh_tien'].errors){
                    <div class="invalid-feedback" align="left">
                        @if(form['thanh_tien'].errors['required']){
                        <div>Nhập số điểm bonus.</div>
                        }
                    </div>
                    }
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-lg-4">
                </div>
                <div class="col-lg-8">
                    <button type="submit" class="btn btn-primary"> <i
                            class="ri-add-circle-line align-middle me-1"></i>Cộng điểm</button>
                </div>
            </div>

        </form>
    </div>
</div>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>